# Carpetas
/node_modules
/dist

# Archivos de configuración
.local.env
.env

# Archivos generados
/build
/.DS_Store

# Logs y archivos temporales
/log
/tmp

# Archivos de respaldo
*.bak
*.swp

# Dependencias específicas de IDE
/.idea

# Sólo una imagen en el Repositorio
src/assets/products/*
!src/assets/products/product-1689813391810-image.png
```

# Backup de drawio
assets/.$DER.drawio.bkp

# Sólo una imagen en el Repositorio
src/assets/blogs/*
!src/assets/blogs/post-1691260823580-WhatsApp Image 2023-07-22 at 15.52.51 (3).jpeg
```

*.pem
