# Carpetas
/node_modules
/dist

# Archivos de configuración
.env

# Archivos generados
/build
/.DS_Store

# Logs y archivos temporales
/log
/tmp

# Archivos de respaldo
*.bak
*.swp

# Dependencias específicas de IDE
/.idea

# Sólo una imagen en el Repositorio
src/assets/products/*
!src/assets/products/product-1689813391810-image.png
```

# Backup de drawio
assets/.$DER.drawio.bkp
